<div class="row">
    <div class="col-md-3 well bs-component col-md-offset-1 border">
        <form class="form-horizontal" name="loginForm">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="loginUser.email" id="username"
                               placeholder="Email" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginPassword" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" ng-model="loginUser.password" id="loginPassword"
                               placeholder="Password"
                               required="required">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="loginUser.remember">Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid"
                                ng-click="login(loginUser)">Sign in
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-3 well bs-component col-md-offset-1 border">
        <form class="form-horizontal" name="registerForm">
            <fieldset>
                <legend>Join SoftUni Issue Tracker</legend>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="email" placeholder="Email" required="required"
                               ng-model="registerUser.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerPassword" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="registerPassword" placeholder="Password"
                               required="required" ng-model="registerUser.password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="col-md-4 control-label">Confirm Password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Password"
                               required="required" ng-model="registerUser.confirmPassword">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required="required">I agree!
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-success"
                                ng-disabled="registerForm.$invalid||registerUser.password!=registerUser.confirmPassword"
                                ng-click="register(registerUser)">
                            Create an account
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <button type="submit" class="btn btn-success" ng-click="logout()">
        Logout
    </button>
</div>