<div class="container col-md-6">

    <div class="panel panel-primary well bs-component col-md-offset-1 border">
        <div class="panel-heading">
            <h3 class="panel-title">Project details:</h3>
        </div>

        <fieldset>
            <legend>{{project.Name}}</legend>
            <div class="panel-body">
                <div>
                    <span><strong>Id:</strong> {{project.Id}}</span>
                </div>
                <div>
                    <span><strong>Description:</strong> {{project.Description}}</span>
                </div>
                <div>
                    <span><strong>Lead:</strong> {{project.Lead.Username}}</span>
                </div>
                <div>
                    <span><strong>Transition Scheme Id:</strong> {{project.TransitionSchemeId}}</span>
                </div>
                <div ng-if="project.Labels.length > 0">
                    <span>Labels:</span> <span id="labels" class="col-md-8" ng-repeat="label in project.Labels">{{label.Name}}; </span>
                </div>

                <div ng-if="project.Priorities.length > 0">
                    <span><strong>Priorities</strong></span>
                    <span ng-repeat="priority in project.Priorities">{{priority.Name}}; </span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="text-center">
        <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-primary">Add Issue</a>
        <a href="#/projects/{{project.Id}}/edit" class="btn btn-warning">Edit Project</a>
        <a href="#" class="btn btn-danger">Delete project</a>
    </div>
    <br/>
</div>

<div class="container col-md-6" ng-if="project.issues.length > 0">
    <div class="list-group">
        <div class="list-group-item active">
            <span>Issues</span>
        </div>

        <a href="#/issues/{{issue.Id}}" class="list-group-item" ng-repeat="issue in project.issues">{{issue.Title}}
            <span class="badge">{{issue.Labels.length}}</span>
        </a>
    </div>
</div>

