<div class="panel panel-primary container col-md-5 well bs-component col-md-offset-3 border">
    <div class="panel-heading">
        <h3 class="panel-title">Add issue</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addIssueForm" novalidate>
            <fieldset>
                <legend>Issue details</legend>
                <div class="form-group" ui-validation-show-errors>
                    <label for="title" class="col-md-4 control-label">Title</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="issue.title" id="title"
                               placeholder="Title" required="required" name="title">
                        <ui-validation-error-messages/>
                    </div>
                </div>
                <div class="form-group" ui-validation-show-errors>
                    <label for="description" class="col-md-4 control-label">Issue description</label>
                    <div class="col-md-8">
                        <textarea class="form-control" ng-model="issue.description" id="description"
                                  placeholder="Issue description" required="required" name="description"></textarea>
                        <ui-validation-error-messages/>
                    </div>
                </div>
                <div class="form-group" ui-validation-show-errors>
                    <label for="projectId" class="col-md-4 control-label">Project ID</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="issue.projectId" id="projectId"
                               ng-init="issue.projectId=projectId" name="title" disabled="disabled">
                    </div>
                </div>
                <div class="form-group" ui-validation-show-errors>
                    <label for="assigneeId" class="col-md-4 control-label">Assignee</label>
                    <div class="col-md-8">
                        <input id="assigneeId" type="text" ng-model="issue.assigneeId" placeholder="Assigned username"
                               uib-typeahead="user.Id as user.Username for user in users | filter:$viewValue | limitTo:8"
                               typeahead-loading="loadingUsers" typeahead-no-results="noResults"
                               typeahead-input-formatter="formatLead($model)"
                               class="form-control" required="required" name="lead">
                        <ui-validation-error-messages/>
                    </div>
                </div>
                <div class="form-group" ui-validation-show-errors>
                    <label for="priority" class="col-md-4 control-label">Priority</label>
                    <div class="col-md-8">
                        <select class="form-control" name="priority" ng-model="issue.priority" id="priority"
                                required="required">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="height">Height</option>
                            <ui-validation-error-messages/>
                        </select>
                    </div>
                </div>
                <div class="form-group" ui-validation-show-errors>
                    <label for="dueDate" class="col-md-4 control-label">Due Date</label>
                    <div class="col-md-8">
                        <input type="datetime-local" class="form-control" ng-model="issue.dueDate" id="dueDate"
                               required="required" name="dueDate">
                        <ui-validation-error-messages/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-lg btn-bloc"
                                ng-disabled="addIssueForm.$invalid" ng-click="addIssue(issue)">Add Issue
                        </button>
                        <button type="reset" class="btn btn-danger btn-lg btn-bloc"
                                ng-click="cancel()">Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>