<div class="container col-md-6" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-primary well bs-component col-md-offset-1 border">
        <div class="panel-heading">
            <h3 class="panel-title">Issue details:</h3>
        </div>

        <fieldset>
            <legend>{{issue.Title}}</legend>
            <div class="panel-body">
                <div>
                    <span><strong>Id:</strong> {{issue.Id}}</span>
                </div>
                <div>
                    <span><strong>Description:</strong> {{issue.Description}}</span>
                </div>
                <div>
                    <span><strong>Due date:</strong> {{issue.DueDate}}</span>
                </div>
                <div>
                    <span><strong>Author:</strong> {{issue.Author.Username}}</span>
                </div>
                <div>
                    <span><strong>Assignee:</strong> {{issue.Assignee.Username}}</span>
                </div>
                <div>
                    <span><strong>Priority:</strong> {{issue.Priority.Name}}</span>
                </div>
                <div>
                    <span><strong>Status:</strong> {{issue.Status.Name}}</span>
                </div>
                <div ng-if="issue.Labels.length > 0">
                    <span><strong>Labels:</strong></span> <span id="labels" ng-repeat="label in issue.Labels">{{label.Name}}; </span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="text-center">
        <button class="btn btn-default glyphicon glyphicon-arrow-left" back> Back</button>
        <span ng-if="$parent.currentUser.isAdmin||$parent.currentUser.Id===project.Lead.Id" ng-cloak>
            <button class="btn btn-warning" ng-click="editIssue(issue.Id)">Edit Issue</button>
            <button class="btn btn-danger" disabled="disabled" ng-click="issueDelete()">Delete Issue</button>
        </span>
        <button class="btn btn-info" data-toggle="modal" data-target="#statusModal"
                ng-disabled="issue.AvailableStatuses.length === 0"
                ng-if="$parent.currentUser.isAdmin||$parent.currentUser.Id===project.Lead.Id||$parent.currentUser.Id===project.Assignee.Id"
                ng-cloak>Change Issue Status
        </button>
    </div>
    <br/>
</div>

<div class="container col-md-6 well">
    <div class="list-group" ng-show="issue.comments.length > 0">
        <div class="list-group-item active glyphicon glyphicon-comment">
            <span>Comments</span>
        </div>

        <div class="alert alert-dismissible alert-info" ng-repeat="comment in issue.comments">
            <p>
                <strong>{{comment.Author.Username}}:</strong> {{comment.Text}}
            </p>
            <hr>
            <p class="text-right">
                <em>{{comment.CreatedOn}}:</em>
            </p>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <textarea class="form-control" ng-model="comment.Text" id="comment" placeholder="Comment"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="commentIssue(issue.Id,comment)" ng-disabled="!comment.Text">Add Comment
    </button>
</div>


<!-- Modal -->
<div id="statusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change issue status</h4>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <p><strong>Current status: </strong>{{issue.Status.Name}}</p>
                    <label for="status" class="col-md-4 control-label">Available Statuses</label>
                    <div class="col-md-8">
                        <select class="form-control" name="status" ng-model="status.Id" id="status"
                                required="required">
                            <!--ng-options="status.Id as status.Name for status in issue.AvailableStatuses">-->
                            <option value="" disabled="disabled">-- Status --</option>
                            <option value={{status.Id}} ng-repeat="status in issue.AvailableStatuses">
                                {{status.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="changeStatus(issue.Id, status.Id)" data-dismiss="modal">Save
                    changes
                </button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
