<div class="container col-md-6">

    <div class="panel panel-primary well bs-component col-md-offset-1 border">
        <div class="panel-heading">
            <h3 class="panel-title">Issue details:</h3>
        </div>

        <fieldset>
            <legend>{{issue.Title}}</legend>
            <div class="panel-body">
                <div>
                    <span><strong>Id:</strong> {{issue.Id}}</span>
                </div>
                <div>
                    <span><strong>Description:</strong> {{issue.Description}}</span>
                </div>
                <div>
                    <span><strong>Due date:</strong> {{issue.DueDate}}</span>
                </div>
                <div>
                    <span><strong>Author:</strong> {{issue.Author.Username}}</span>
                </div>
                <div>
                    <span><strong>Assignee:</strong> {{issue.Assignee.Username}}</span>
                </div>
                <div>
                    <span><strong>Priority:</strong> {{issue.Priority.Name}}</span>
                </div>
                <div>
                    <span><strong>Status:</strong> {{issue.Status.Name}}</span>
                </div>
                <div ng-if="issue.Labels.length > 0">
                    <span><strong>Labels:</strong></span> <span id="labels" ng-repeat="label in issue.Labels">{{label.Name}}; </span>
                </div>

                <div ng-if="issue.AvailableStatuses.length > 0">
                    <span><strong>Available statuses</strong></span>
                    <span ng-repeat="status in issue.AvailableStatuses">{{status.Name}}; </span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="text-center">
        <button class="btn btn-default glyphicon glyphicon-arrow-left" back> Back</button>
        <button class="btn btn-warning" ng-click="editIssue(issue.Id)">Edit Issue</button>
        <button class="btn btn-info" ng-click="changeStatus(issue.Id)">Change Issue Status</button>
        <button class="btn btn-danger" disabled="disabled" ng-click="issueDelete()">Delete Issue</button>
    </div>
    <br/>
</div>

<div class="container col-md-6 well">
    <div class="list-group" ng-show="issue.comments.length > 0">
        <div class="list-group-item active glyphicon glyphicon-comment">
            <span>Comments</span>
        </div>

        <div class="alert alert-dismissible alert-info" ng-repeat="comment in issue.comments">
            <p>
                <strong>{{comment.Author.Username}}:</strong> {{comment.Text}}
            </p>
            <hr>
            <p class="text-right">
                <em>{{comment.CreatedOn}}:</em>
            </p>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <textarea class="form-control" ng-model="comment.Text" id="comment" placeholder="Comment"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="commentIssue(issue.Id,comment)" ng-disabled="!comment.Text">Add Comment
    </button>
</div>