<div class="row">
    <div ng-if="currentUser===undefined">
        <div ng-include="'app/users/login-form.html'"></div>
        <div ng-include="'app/users/register-form.html'"></div>
    </div>
    <div ng-if="currentUser!==undefined">
        <div ng-if="!currentUser.isAdmin">
            <div ng-include="'app/home/user/user-dashboard.html'"></div>
        </div>
        <div ng-if="currentUser.isAdmin">
            <div ng-include="'app/home/admin/admin-dashboard.html'"></div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="logout()">
            Logout
        </button>
    </div>
</div>